* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

h1, h2, h3 {
    text-transform: uppercase;
    font-weight: bolder;
    text-align: center;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    max-width: 100%;
}